.calculatorWrapper {
  display: flex;
  flex-wrap: wrap;
}
.calculatorInputTitle {
  font-size: 18px;
  font-weight: 800;
}
.calculatorText {
  font-size: 20px;
}
.calculatorNum {
  font-size: 20px;
  color: #ff8049;
}
.formControl {
  padding: 10px 20px 10px 0;
  width: 40%;
}
input[type="range"] {
  -webkit-appearance: none;
  background: #383f50;
  height: 30px;
  margin: 10px 0;
  width: 100%;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  background: #ff8049b0;
  border: 0 solid #000;
  border-radius: 14px;
  box-shadow: 0 0 0 #000;
  cursor: pointer;
  height: 10px;
  width: 100%;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #fff;
  border: 4px solid #ff8049;
  border-radius: 19px;
  box-shadow: 0 0 0 #000;
  cursor: pointer;
  height: 20px;
  margin-top: -7px;
  width: 20px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #ff8049b0;
}
input[type="range"]::-moz-range-track {
  background: #ff8049b0;
  border: 0 solid #000;
  border-radius: 14px;
  box-shadow: 0 0 0 #000;
  cursor: pointer;
  height: 10px;
  width: 100%;
}
input[type="range"]::-moz-range-thumb {
  background: #383f50;
  border: 4px solid #ff8049;
  border-radius: 19px;
  box-shadow: 0 0 0 #000;
  cursor: pointer;
  height: 20px;
  width: 20px;
}
input[type="range"]::-ms-track {
  background: transparent;
  border-color: transparent;
  color: transparent;
  cursor: pointer;
  height: 10px;
  width: 100%;
}
input[type="range"]::-ms-fill-lower,
input[type="range"]::-ms-fill-upper {
  background: #ff8049b0;
  border: 0 solid #000;
  border-radius: 28px;
  box-shadow: 0 0 0 #000;
}
input[type="range"]::-ms-thumb {
  background: #383f50;
  border: 4px solid #ff8049;
  border-radius: 19px;
  box-shadow: 0 0 0 #000;
  cursor: pointer;
  height: 20px;
  margin-top: 1px;
  width: 20px;
}
input[type="range"]:focus::-ms-fill-lower,
input[type="range"]:focus::-ms-fill-upper {
  background: #ff8049b0;
}
