.section {
  background-color: rgb(251, 253, 255);
}
.introContainer {
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 15vw;
  margin-bottom: 15vw;
  align-items: center;
}
.introCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  width: 35vw;
  height: 40vw;
  margin: 1.25em;
  padding: 1.25em;
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(58 86 78 / 7%) 0px 4px 120px;
}
.cardWrap {
  display: flex;
  flex-direction: row;
  height: 64em;
}
